table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    height: 40px;
  }

  .column-marks {
    width: 150px;
  }
  
  .column-description {
    width: 400px;
  }
  
  .column-quantity {
    width: 150px;
  }
  
  .column-weight {
    width: 100px;
  }