.input-underline {
  border: none; /* Loại bỏ toàn bộ viền mặc định */
  border-bottom: 1px dotted #000; /* Chỉ hiển thị viền chấm ở dưới */
  outline: none; /* Loại bỏ hiệu ứng outline khi focus */
  background: transparent; /* Loại bỏ màu nền */
  padding: 4px 0; /* Thêm khoảng cách trên dưới */
  width: 15%; /* Ô input sẽ chiếm toàn bộ chiều rộng */
  font-size: 16px; /* Kích thước chữ */
  margin-bottom: 10px;
}

/* .input-underline:focus {
    border-bottom: 1px solid #000; 
  } */
